<h1><%= @outline.title %></h1>

<div class='controls'>
  <button class='start-timer'>Start!</button>
</div>

<div class="steps">
  <% @outline.ordered_steps.each do |step| %>
    <div class="step">
      <div class="transitionable number">
        <%= step.number %>
      </div>
      <div class="transitionable text">
        | <%= step.step %>
      </div>
      <div class="transitionable time">
        - <span class='transitionable length'><%= step.time %></span>min
      </div>

    </div>
  <% end  %>
  <div class="add-step">
    <%= form_for [@outline, @step] do |f| %>
      <%= f.hidden_field :outline_id, value: @outline.id %>
      <%= f.text_field :step, placeholder: 'Step description' %>
      <%= f.number_field :time, placeholder: 'Minutes' %>
      <%= f.submit 'Add Step' %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
 $(function() {
   $('.start-timer').on('click', startTimer)
 });
</script>
